{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Search | AvetiZ</title>
	<meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'property/css/property.css' %} ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'property/css/bootstrap-xlgrid.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'property/css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="img/avetiz4.png" />
    <!--script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyC8TvKHQ-rUklU5OsD6Oq73pMG1fJO9iR8"
              type="text/javascript"></script-->
     <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC8TvKHQ-rUklU5OsD6Oq73pMG1fJO9iR8"></script>
<body class="searchBody">
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #21395b">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">AvetiZ Investing</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">

	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Second Navigation Bar -->

	<div class="navbar navbar-default topnav navbar-static-top">
	  <div class="container">
	  	<div class="row">
	  	<div class="col-md-12">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	       </button>
		
		</div>
	     
	    <div class="navbar-collapse collapse">
	     
	      <ul class="nav navbar-nav navbar-left">
	      
	    <li>
	    <form class="navbar-form" id ="form-buscar" method="post">
       {% csrf_token %}
	        <div class="form-group" style="display:inline;">
	          <div class="input-group" style="display:table;">
	            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              
              {{form.query}}
              {{form.city}}
              {{form.state}}
              {{form.country}}
	            <!--input class="form-control" name="search"  id="pac-input" placeholder="Address, City, Neighborhood" autocomplete="off" autofocus="autofocus" type="text">
	            <input type="hidden" id="city" name="city"></input>
	            <input type="hidden" id="state" name="state"></input>
	            <input type="hidden" id="country" name="country"></input-->
	          </div>
	        </div>
	      
	      </li>
	        <li class="dropdown-active">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Any Price <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	        	<div class="clearfix facet-price-form">
			        <div class="row">
			          <div class="col-sm-12">
			            <div class="facet-price-wrap">
			              <div class="input-group facet-price-input">
			                <span class="input-group-addon">₦</span>
			                <!--input type="text" pattern="\d*" class="form-control" placeholder="No Min" data-role="facet-input-min" maxlength="11" size="11" id="facet-input-min" value=""-->
                      {{form.minprice}}
			              </div>
			            </div>
			            <span class="input-range-indicator"></span>
			            <div class="facet-price-wrap">
			              <div class="input-group facet-price-input">
			                <span class="input-group-addon">₦</span>
			                <!--input type="text" pattern="\d*" class="form-control" placeholder="No Max" data-role="facet-input-max" maxlength="11" size="11" id="facet-input-max" value=""-->{{form.maxprice}}
			              </div>
			            </div>
			          </div>
			          
			        </div> 
			      </div>
	        </ul>
	      </li>      
	      

	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Any Property Type <b class="caret"></b></a>
	      	<ul role="menu" class="dropdown-menu">
				
				<li><a href="#">
				{{form.singlefamily}}
				<span class="lbl"> Single Family</span></a></li><li class="divider"></li>
				<li><a href="#">
				{{form.land}}<span class="lbl">
				Land</span>
				</a></li><li class="divider"></li>
				<li><a href="#">
				{{form.multifamily}}<span class="lbl">
				Multi-Family</span>
				</a></li><li class="divider"></li>
				<li><a href="#">
				{{form.farms}}<span class="lbl">
				Farms</span>
				</a></li>
				
			</ul>
	      </li>

	     
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><button type="submit" class="btn btn-default">Search</button></li>
	      </ul> 
        </form>
	    </div><!--/.nav-collapse -->
	    </div>
	    </div>
	  </div>
	</div> <!--end of Second Navigation Bar -->

	<section class="mapSection">
	 <div class="container-fluid ">
	<div class="row">
	<div class="col xxl-7 col-xxl-7 col-xl-7 col-md-6 col-xs-6">
		<div id="map" style="width: 100%; height: 600px; position: absolute; z-index: 0;"></div>
	</div>

	  <div class="col xxl-5 col-xxl-5 col-xl-5 col-md-6 col-xs-6 listings">

  <div class="fixedBar">
    <div class="container-fluid">
    <div class="row">
     {% if state %}
      <div class="col-md-8"><h2><!--Name of Area -->{{state}} State</h2></div>
      <div class="col-md-4"><p class="propsFound"><!--Number of Properties found in place searched -->{{count}} Homes For Sale.</p></div>
    {% else %}
     
      <div class="col-md-8"><h2><!--Name of Area -->No result found</h2></div>
      <div class="col-md-4"><p class="propsFound"><!--Number of Properties found in place searched -->Feature Property.</p></div>
       {% endif %}
      
    </div>
    <div class="container-fluid">
      <div class="row tabRow text-justify">
      <div class="col-md-8">
        <div class="row">
          <!--span class="span-active"><a href="#">Homes for you</a></span> <span><a href="#">Newest</a></span><span><a href="#">Cheapest</a></span><span><a href="#">More</a></span-->
        </div>
      </div>
      <div class="col-md-3">
      </div>
          </div>
        </div>
       {%for property in result %} 
   {% if forloop.counter|divisibleby:2 %}

   {% else %}    
   <div class="row">
   {% endif %}
      <div class="col-md-6">
        <div class="property">
        <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
        <h3 class="propertyDet"><span class="price">₦{{property.value}}</span> + <span class="beds">{{property.bedroom}} bds</span>. <span class="baths">{{property.bathroom}} ba.</span> {{property.area}}+sqft</h3>
        <p class="propertyAddr"><!--address here-->{{property.street}} {{property.state}}</p>
        <p class="developerName">Developer: <strong><em>{{property.developer.name}}</em></strong></p>

        </div>
       </div>

     {% if forloop.counter|divisibleby:2 %}
     </div>
     
     {% endif %}
     {%endfor%}

      
      </div>
      </div>
      <!--End of Properties -->


      <!-- Hottest Selling Open Houses Least Expensive -->
      <section class="featuredProps container-fluid">
      <div class="row">
      <div class="col-md-4">
        <div class="col-md-12 fp fp1">
        <p>Hottest Selling</p></div>
      </div>
      <div class="col-md-4"><div class="col-md-12 fp fp2"><p>Open Houses</p></div></div>
      <div class="col-md-4"><div class="col-md-12 fp fp3"><p>Least Expensive</p></div></div>
      </div>
      </section>

      <!-- Pagination  -->
      <nav aria-label="Page navigation" class="container-fluid">
      <ul class="pagination">
      {% if result.has_previous %}
        <li>
          <a href="?page={{result.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {%for page in result.page_range %}
       <li class="{% if result.number == page  %}active{% endif %}"><a href="?page={{page}}">{{ page }}</a></li>
       {%  endfor %}
        {% if result.has_next %}
        <li>
          <a href="?page={{result.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>


    <section class="whyavetiz container-fluid">
      <hr>

      <h4>Why Use AvetiZ?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus tincidunt sollicitudin. Donec sodales urna sed turpis facilisis, sed fermentum quam tincidunt. Ut nec condimentum nibh. Integer luctus viverra ligula, ut congue lorem. Sed quis arcu nisi. Etiam ornare suscipit mollis. Quisque at dapibus arcu, in consectetur massa. Etiam vitae pharetra massa. Nullam bibendum malesuada velit, sed vehicula nisl elementum eu.</p>
      <hr>
      {% if state %}
      <h4>{{state}} Properties Statistics</h4>
      <div class="row">
        <div class="col-md-6"><p>Total Properties for Sale: </p></div> <div class="col-md-6"><strong>{{count}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-6"><p>Median Property Value Estimate: </p></div> <div class="col-md-6"><strong>₦ {{median}}</strong></div>
      </div>
      <div class="row">
        <div class="col-md-6"><p>Property Value Forecast: </p></div> <div class="col-md-6"><strong>{{projection}}%</strong></div>
      </div>

      <hr>
      <h4>Average Home Value By States in {{country}}</h4>
      {% for value in averages %}
      <div class="row">
        <div class="col-md-6"><p>{{value.state}} </p></div> <div class="col-md-6"><strong>₦{{value.value__avg}}</strong></div>
      </div>
      {% endfor %}
      
      <hr>

      <h4>{{state}} State Cities Statistics</h4>
       {% for values in cityaverage %}
      <div class="row">
        <div class="col-md-6"><p>{{values.city}} </p></div> <div class="col-md-6"><strong>₦ {{values.value__avg}}</strong></div>
      </div>
        {% endfor %}
         <hr>
        {% endif %}
      
      <p>
        <strong>Disclaimer:</strong> Boundaries are supplied by AvetiZ and are subject to change. Check with the applicable district prior to making a decision based on these boundaries.</p>

      <p><strong>About the ratings:</strong> AvetiZ ratings are based on a comparison of test results for all cities in the state. It is designed to be a starting point to help parents make baseline comparisons, not the only factor in selecting the right property. <a href = "#"> Learn more</a>
      </p>
    </section>

    <section class="copyright container-fluid">
    <div class="row linkRow">
      <div class="col-md-12">
        <a href="">About</a><a href="">How It Works</a><a href="">Privacy</a><a href="">Help</a><a href="">Investors</a> <a href="">Intelligent Investing</a><a href="">Partners</a>
      </div>
      </div>

      <hr>
      <div class="row">
      	<div class="col-xs-3">
      		<img src="https://flexiloans.com/wp-content/uploads/2015/09/store-google-play.png" class="img-responsive">
      	</div> 
      	<div class="col-xs-3">
      		<img src="http://www.canadianblackbook.com/static/img/icons/button-get-it-on-apple.png" class="img-responsive">
      	</div> 
      <!--  <div class="col-md-3">
      	<img src="https://www.magentocommerce.com/magento-connect/media/catalog/product/cache/9/image/468x300/9df78eab33525d08d6e5fb8d27136e95/a/p/app-store-link_1.png" class="img-responsive">
      		
      	</div> -->
      </div>
      

    <div class="row">
      <hr>
      <div class="col-md-3"><span><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></span><span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></span><span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></span></div>
      <div class="col-md-9"><p><strong>AvetiZ is a service mark of AvetiZ Corp &copy; 2017. All Rights Reserved.</strong></p></div>
        </div>
    
    </section>


     
  </div>
  </div>

	</div>
	</div>
	</section>

<script type="text/javascript">
        
        var locations = [
    {% for property in result %}
        {% if not forloop.first %},{% endif %}
        [
            "<strong>Title: </strong>{{ property.title}}<br> <strong>Price:</strong>₦{{property.value}}<br><strong>Bed no:</strong>{{property.bedroom}}, <strong>Bath No:</strong>{{property.bathroom}} <br><strong>Area:</strong> {{property.area}}sqft<br><strong>Address:</strong>{{property.street}} <br> <img src='https://photos.zillowstatic.com/p_a/IS2b9hk80mskqv0000000000.jpg'/>",
            "{{ property.latitude}}",
            "{{ property.longitude }}",


        ]
    {% endfor %}
    ]

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: new google.maps.LatLng(locations[0][1], locations[0][2]),
          mapTypeId: google.maps.MapTypeId.ROADMAP
          //mapTypeId: google.maps.MapTypeId.SATELLITE
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              window.open('/property/')
            }
          })(marker, i));
        }

        google.maps.event.addDomListener(window, 'load', initialize);
			function initialize() {
				var options = {
								types: ['(cities)'],
								radius: '2000',
								location:'6.5243793,3.379205700000057',
								componentRestrictions: {country: "us,ng"}
								
								};
				var input = document.getElementById('id_query',options);
				var autocomplete = new google.maps.places.Autocomplete(input);
				autocomplete.addListener('place_changed', function () {
				var place = autocomplete.getPlace();
        var info = '';
        place.address_components.forEach(function (item) {
        if (item.types.indexOf("administrative_area_level_1") > -1) {
            info += '<div>State: ' + item.long_name + '</div>';
            document.getElementById("id_state").value= item.long_name;

        }
        if (item.types.indexOf("locality") > -1) {
            info += '<div>City: ' + item.long_name + '</div>';
            document.getElementById("id_city").value = item.long_name;
        }
        });
        console.log(info)


			// place variable will have all the information you are looking for.
				console.log(place.geometry['location'].lat());
				console.log(place.geometry['location'].lng());
				longitude=place.geometry['location'].lng();
				latitude=place.geometry['location'].lat();
				displayLocation(latitude,longitude);
				
				
				});
				displayLocation(latitude,longitude);
				//form=document.getElementById('form-buscar');

				//form.submit();
				}
		

	function displayLocation(latitude,longitude){
    var geocoder;
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(latitude, longitude);

    geocoder.geocode(
        {'latLng': latlng}, 
        function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var add= results[0].formatted_address ;
                    var  value=add.split(",");
                    console.log(value)
                    count=value.length;
                    country=value[count-1];
                   // state=value[count-2];
                    //city=value[1];
					
					
					document.getElementById("id_country").value=country;
                   // console.log ("city name is:" + city);
                }
                else  {
                    console.log ("address not found");
                }
            }
            else {
                console.log( "Geocoder failed due to:" + status);
            }
        }
    );
}

      </script>

<!-- Include the Google Maps API library - required for embedding maps -->

<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

  $('#hiddenstate').value={{usestate}}
  $('#hiddencity').value={{city}}
  $('#hiddencountry').value={{country}}
  $('#hiddenquery').value={{state}}

});
</script>
</body>
</html