<form>
<div class="row">
	   			<div class="col-md-8 col-md-offset-2">
	   			 	<h3>Go Tour This Home</h3>
	   			 <div style="overflow:hidden;">
				    <div class="form-group">
					    <div class="row">
				            <div class="col-md-12">
				                <div id="datetimepicker2"></div>
				            </div>
					     </div>
				    </div>
				</div>
	   			 <a    class="btn btn-block btn-danger">Schedule Tour</a>
	   		</div>

	   			 <!--p style="display:block;" class="colorGrey">It's free, with no obligation — cancel anytime</p-->
	   			 <div class="ContactLinks" data-rf-test-name="contact-links" data-reactid="83"><div class="questions" data-reactid="84"><a href="#" data-rf-test-name="ask-a-question" class="" data-reactid="85">Ask a Question</a><a href="tel:+17189253372" class="phone-number" data-rf-test-name="phone-number" data-reactid="86">(080) 313-3372</a></div></div>
	   			 <h5><strong>AvetiZ Refund: ₦110,983</strong></h5>
	   			 <!--p>Savings when you buy with an AvetiZ Agent</p>
	   			 <h4 class="text-center"><a href="">Start Now</a></h4-->
	   			 </div>
   			</div>