body{
  font-family: 'Raleway', sans-serif;
  padding-top: 100px;
}


/*Navigation Bar*/
.navbar{
  background: #fff !important;
  border-bottom: none;
}

.navbar-brand{

}

.navbar-brand img{
  max-width: 100px;
  position: relative;
  left: -17px;
  top:-15px;
}


/*Title Section*/
.title{
  margin:30px 0
}

.title h1{
   line-height:1.4em;
   position: relative;
   left:-13px;
}

.title .cName{
   font-size:120%;
   font-weight: bold;
   color: #D4AF37;

}


/*Search Box css*/

.custom-search-input{
    padding: 8px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    left: -13px;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input input:focus{
  box-shadow: none;
}

.custom-search-input button{
    margin: 0 24px 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-radius:6px !important;
   
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    height: 45px;
    background-color: #5bc0de;
    color:#fff;
}

.custom-search-input .glyphicon-search{
    font-size: 23px;
}



/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  margin-top: 6px;
  width: 100%;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px;

}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  height: 300px;
}

.featuredImages{
  margin:80px 0 40px 0;
  background: #fff;
  padding: 10px;
  overflow: hidden;
}

.featuredImages .container{
   padding: 0 5px !important;
}

.featuredImages .carousel .col-sm-4{
  padding: 0 5px !important;
}



/* End carousel for featured images */

/*Knowledge Center*/


.kCenter h4{
  position: relative;
  left:-13px;
  margin-bottom: 15px;
}

.firstBox{
  background-color: #f9f9f9;
  height: 400px;
}

.secondBox{
  background-color: #f5f5e5;
  height: 400px;
}

.thirdBox{
  background-color: #f7f7f7;
  height: 400px;
}

/*Sign Up Section*/
.services{
  background-color: #f9f9f9;
}

.logo-small {
    color: #424242;
    font-size: 50px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.signUp{
  margin-bottom: 60px;
  padding: 10px;
}

.signUp h4{
  margin-bottom: 15px;
  position: relative;
  left: -13px;
}

.rSignUp{
  padding: 153px 50px;
  background: grey;
}

.rSignUp .glyphicon{
  color: #D4AF37;
}

.rSignUp p{
  padding: 0 15px;
}

/*Our Vision Section*/
.vision{
  margin: 80px 0;
}

.vision h4{
  margin-bottom: 15px;
  position: relative;
  left:-13px;
}

.visionContainer{
  background-color:#f9f9f9;
  height: 400px;
  width:100%;
}
  





/*Cartoon Section*/

.cartoon img{
  width:100%;
}

.cartoon .cityIn{
  border-bottom: 3px dotted #D4AF37;
}



/* Media Queries */
@media only screen and (max-width: 768px) {

  .custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
     position: relative;
    left: 0px;
}


.title h1{
   position: relative;
   left:0px;
}
.borderless li{
  line-height: 1.3em;
}


.locator{
  padding-left: 0;
}

hr {
    width: 0px;
    height: 0px;
    }

.navbar-brand img{
  max-width: 80px;
  position: relative;
  top:-13px;
}

    
  }
  
  
 /** tolu help style styling for serachcontainer**/
  .parallax-window {
    min-height: 400px;
    background-image: url("../img/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-menu .ui-menu-item:hover{
	border-style:solid !important;
  border-color:green;
  background-color: white !important;

}
ul.ui-autocomplete{
  width:40% !important;
  max-height: 500px !important;
  overflow:scroll; !important;
  padding: 10px !important;
}

@media only screen and (max-width: 768px) {
  ul.ui-autocomplete{
  width:50% !important;
  max-height: 200px !important;
  overflow:scroll !important;
}
}

/**other section **/
.padder li{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:15px;
	border-left-width:2px;
	border-left-style:ridge;
	border-color:#D4AF37;
}

.padder{
		margin-top:60px;
}

.padder li>a{
	color:black;
}


.cat{
	background-color:#fff!important;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#e8e8e8;
	font-size:20px;
	color :#D4AF37 !important;
	
}
.panel-default {
	border:0px;	
}

.questions{
	color:black;
	font-size:17px;
	
}
.divider-8{
width:100%; 
min-height:1px; 
margin-top:5px; 
margin-bottom:5px;  
display:inline-block; 
position:relative;
}

.fa{
	padding-right:10px;
}

.fa-exchange{
	color:red;
}
.topsearch{
	background-color:#F8F8F9;
	height: 100px;
	padding-top:20px;
	padding-bottom:20px;
}
tops{
	border-radius:0px;
}
.paralax{
    
    background-image: url("../img/paralaximg.jpg")!important;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.complaintform{
	background-color:#f9f9f9;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.complaintform label{
	display: block;
    font-weight: bold;
    margin-bottom: 5px;
	font-size: 12px;
	color:#555555
}
.complainJumbo{
	background:url(http://www.johnsastrophotos.com/uploads/2/8/4/9/28492009/fox_fur-hargb2.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.complaintform>.form-group{
	margin-top: 25px;
}
.complaintform button{
	width:94px;
	background-color:#444;
	border-color:transparent;
	
	white-space: nowrap;
}
.square{
	border-radius:0px;
	/*margin-bottom:50px;*/
}
.headform{
	padding-left:0px;
	padding-right:0px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color:#fff;
}


.info-text1 {
    padding-bottom: 10px;
    color: #486d83;
    font-size: 12px;
    line-height: 1.1em;
}


.info-text2 {
    color: #0d0d0e;
    font-size: 12px;
	line-height: 2.1em;
}

.forminfo{
    padding: 8px;
    background-color: #e6e6e6;
    box-shadow: 0 0 6px 0 rgba(92, 91, 91, .38);
	margin-top:20px;
	margin-left:5%;
	height:190px;
}
.infospan {
    color: #175e88;
    font-weight: 700;
}



.border{
	box-shadow: -4px 0px 5px 3px rgba(92, 91, 91, .38);
	padding-bottom:60px;
	padding-top:60px;
}
.wrapper{
	margin-left:15%;
}

.loginJumbo{
	background:url(http://www.funtweak.com/wp-content/uploads/2015/07/hd-wallpapers-1080p-img.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.contactJumbo{
	background:url(https://content.schwab.com/web/retail/public/psr/phome/cta-bg.png?1491596890);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:250px;
	font-weight:500;
	color:#fff;
	margin-bottom:0px;
}
.signupJumbo{
	background-color:#e8e8e8;
	background-attachment: fixed;
	min-height:250px;
	font-weight:500;
	color:#000;
	text-align:justify;
	padding:30px;
}

.contactJumbo a{
	background: #B95E04;
    width: 340px;
    height: 50px;
	font-weight: 700;
	border:0px;
	padding-top:15px;
}
.signupJumbo a{
	background: #D4AF37;
    width: 340px;
    height: 50px;
	font-weight: 700;
	border:0px;
	padding-top:15px;
}
